.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: darkblue;
  color: white;
  list-style: none;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  list-style: none;

}

.button-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
